<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.graphicalpattern">

    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Navigator" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".appList"
            android:theme="@style/FULLSCREEN" />
        <activity android:name=".ForgetPattern" />
        <activity android:name=".PatternPage" />
        <activity android:name=".Register">

        </activity>

        <receiver android:name=".broadcast.ReceiverApplock"
            android:enabled="true"
            android:exported="true"/>
        <receiver
            android:name=".broadcast.RestartServiceWhenStopped"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.ServiceApplock"
            android:exported="true"
            android:enabled="true"/>
        <service
            android:name=".services.ServiceApplockJOBIntent"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>